{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/registration.css')}}">
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('css/registration.css')}}">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class="login-container">
    <form class="form" method="post">
    <h1 class="pt-5">Inscription</h1>

    {{ form_start(registrationForm) }}
        <div class="label">
        {{ form_row(registrationForm.email) }}
        </div>
        <div class="label">

        {{ form_row(registrationForm.plainPassword, {
            label: 'mdp'
        }) }}
        </div>
        <div class="term">
        {{ form_row(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn">s'inscrire</button>
    {{ form_end(registrationForm) }}
    </form>
</div>
{% endblock %}
