{% extends 'base.html.twig' %}

{% block title %}Détail Voiture{% endblock %}
 {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('css/detailVoit.css')}}">
        <script src="{{asset('script/fullpage.js')}}"></script>
    {% endblock %}

{% block body %}
<div class="content">
    <div class="horizontal-line-container">
        <div class="horizontal-line"></div>
        <span class="subtitle">DÉCOUVREZ</span>
    </div>
    <h1 class="title">Lamborghini Huracan</h1>
</div>




      {# <div class="car-list">
    {% for voiture in voitures %}
        <div class="car-item">
            <h2>{{ voitures.description }}</h2>
            <img src="{{ asset('uploads/' ~ voitures.image) }}" alt="{{ voiture.description }}" class="car-image">
            <div class="car-stats">
                <div>
                    <p>{{ voitures.vitesse }}: Vitesse Max</p>
                    <p>{{ voitures.chevaux }} cv</p>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
</div> #}
{% endblock %}

