{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/catalogue.css')}}">
{% endblock %}

<div class="search-container">
    <input type="text" id="search-bar" placeholder="Rechercher une voiture..." onkeyup="filterCards()">
    <select id="brand-dropdown" onchange="filterCards()">
        <option value="">Toutes les marques</option>
        {% for marque in marques %}
            <option value="{{ marque.nom_marque }}">{{ marque.nom_marque }}</option>
        {% endfor %}
    </select>
</div>

{% for voiture in voitures %}
<div class="card" data-brand="{{ voiture.marque.nom_marque }}">
    <h2>{{ voiture.description }}</h2>
    <img src="{{ asset('path/to/image.jpg') }}" alt="Car Image"> {# il faut au plus vite ajouter les vrai image #} 
    <div class="progress-bar">
        <div style="width: 45%;"></div>
    </div>
    <p>Speed: {{ voiture.vitesse }} KM/H</p>    
    <div class="progress-bar">
        <div style="width: 80%;"></div>
    </div>
    <p>Horsepower: {{ voiture.chevaux }} CHV</p>
    <a href="{{ path('detailVoit', {'id': voiture.id}) }}" class="button" style="text-decoration: none;">Learn More</a>
</div>
{% endfor %}

<script>
/**
 * Filters the displayed cards based on the search input and selected brand.
 */
function filterCards() {
    const searchInput = document.getElementById('search-bar').value.toLowerCase();
    const selectedBrand = document.getElementById('brand-dropdown').value.toLowerCase();
    const cards = document.querySelectorAll('.card');
    cards.forEach(card => {
        const cardText = card.textContent.toLowerCase();
        const cardBrand = card.getAttribute('data-brand').toLowerCase();
        if (cardText.includes(searchInput) && (selectedBrand === "" || cardBrand === selectedBrand)) {
            card.style.display = 'flex';
        } else {
            card.style.display = 'none';
        }
    });
}
</script>
{% endblock %}
