{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
      <div class="car-list">
    {% for voiture in voitures %}
        <div class="car-item">
            <h2>{{ voitures.description }}</h2>
            <img src="{{ asset('uploads/' ~ voitures.image) }}" alt="{{ voiture.description }}" class="car-image">
            <div class="car-stats">
                <div>
                    <p>{{ voitures.vitesse }}: Vitesse Max</p>
                    <p>{{ voitures.chevaux }} cv</p>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
</div>
{% endblock %}
